

<div class="container" id="home-container">
    <div class="jumbotron text-center text-white pb-3">

        <h1 class="display-4">This is BizBet!</h1>
        <p class="lead">Bizbet is the home of the ultimate bet! There is no app like it!</p>
        <p class="lead">Bet against friends and strangers on anything and everything!</p>
        <p class="lead">Imagination and concise speech is the limit!</p>
        <hr class="my-4">
        <%# <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> %>
        <p class="lead">Very easy to sign up and we protect your identity.</p>
        <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
        
    </div>
</div>