<div class="container" id="home-container">
    <div class="jumbotron text-center text-white pb-3">

        <h1 class="display-4">How to Bizbet?</h1>
        <p class="lead">If the Category does not have an "E", make sure to tag an end date!</p>
        <p class="lead">Example, "ASIOF" + "End of 2021" in the categories section</p>
       
        <%= link_to "Make A Betslip", new_article_path, class: "btn btn-success btn-lg" %>
        
    </div>
</div>